/*        GENERAL SETTINGS        */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none !important;
  font-family: 'Source Sans Pro', sans-serif;
}
  

::-webkit-scrollbar{
    display: none;
}

*::before {
    box-sizing: inherit;
}

*::after {
    box-sizing: inherit;
}

html {
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: #b9bbbe;
    scroll-behavior: smooth;
}

body {
    top: 0;
    left: 0;
    background-color: #2a2d32;
    text-rendering: optimizeLegibility;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn .25s ease-out forwards;
    z-index: 2;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.hidden{
    height: 0;
}

.page-wrapper{
  position: relative;
  width: 100vw;
  min-height: 100%;
  background: #2a2d32;
  background-color: #2a2d32;
  z-index: 2;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  animation: fadeIn .25s ease-out forwards;
  overflow-y: auto;
}

.pull.left{
    float: left;
}

.pull-right{
    float: right;
}
    
.sidenav-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: #36393f;
  background-color: #36393f;
  overflow-y: auto;
  z-index: 301;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  overflow-x: hidden;
  transform: translateX(-250px);
  
}

.sidenav-main .header{
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  font-size: 13px;
  font-weight: normal;
  background-color: #36393f;
  border-bottom: 1px solid #535353;
  border-bottom-color: #535353; 
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  
}

.sidenav-main .item{
  position: relative;
  display: block;
  padding: 24px 36px;
  font-size: 17px;
  font-weight: bold;
  color: #ADADAD;
  cursor: pointer;
  background: #36393f;
  background-color: #36393f;
  border-bottom: 1px solid #535353;
  border-bottom-color: #535353; 
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidenav-main .item:hover{
    background-color: #26292f
}

.sidenav-main .closebtn {
  cursor: pointer;
  padding-right: 30px;
  overflow-x: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  float: right;
}

.sidenav-main .closebtn:hover{
    color: #818181;
}


.sidenav-main li{
    text-decoration: none;
    list-style: none;
}

ul {
    display: block;
}

.menu-main{
    top: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 73px;
    font-size: 13px;
    font-weight: 400;
    background-color: #36393f;
    z-index: 2;
    transition: margin-left .5s ease-in-out;
}

#header .header-main {
    position: relative;
    display: flex;
    height: 70px;
    border-bottom: 1px solid #434343;
}

.btn_menu{
  min-width: 115px;
  height: 70px;
  border-right: 1px solid #434343;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.btn_menu:hover{
    color: #818181;
}

.box-right{
    display: flex;
    justify-content: center;
    margin-right: 116px;
    flex: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #FFF;    
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;    
    
    
}

#content-wrapper {
    display:flex;
    transition: all .5s ease-in-out;
    z-index: 300;
    transform: translateX(0px);
    visibility: visible;
    padding-top: 70px;
}

#content-wrapper::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:
    rgba(0,0,0,0.5);
    z-index: 300;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.navbar-open.page-wrapper::before{
    opacity: 1;
    visibility: visible;
}

#content{
    z-index: 0;
    transition: padding 0.6s ease-in-out;
    transition: -webkit-all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: calc(100vh - 70px);
    width: 100vw;
    
}

.tiles {
    
    font-family: 'Raleway', sans-serif;
    width: 90vw;
    height: 100%;
    padding: 12.5vh 5vw 5vh 5vw;
    display: grid;
    
    grid-template-columns: auto;
    grid-template-rows: 35% 35%;
    grid-gap: 1rem;
    grid-template-areas: 
        "box1 box2 box3 box4 box5"
        "box6 box7 box8 box9 box10"
}

.tiles .gridbox{
    background-image: url("https://picsum.photos/1280/720/?random");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    min-height: 100%;
    min-width: 100%;    
    margin: 0 auto;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 200ms ease-in-out;
    border-radius: 2px;
}

.tiles .gridbox:hover{
    
    z-index: 2;
    position: relative;
    box-shadow: 0 1.5rem 2.8rem rgba(0,0,0,0.15), 0 1rem 1rem rgba(0,0,0,0.15);
    transform: translateY(-5px);
    cursor: pointer;
}

.tiles .gridbox .tilecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    filter: none;
    opacity: 0%;
    transition: all 300ms ease-in-out;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.tiles .gridbox:hover .tilecontent{
    background-color: rgba(0,0,0,0.75);
    opacity: 100%;
}

.tileDetails{
    padding: 15px;
    display:block;
    position:absolute;
    color: #6279CA;
    background: #e6ffff;
}

.login {
    text-align: center;
    min-width: 30vw;
}

.wrapper{
    display: block;
    position: absolute;
    height: min-content !important;
    width: min-content !important;
    min-width: 200px;
    background-color: #36393f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.16);
}

.title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: block;
    font-size: 32px;
    color: #FFF;    
    font-weight: 200;
    padding-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#search{
    width: 90vw;
    margin-left: 5vw;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form{
    margin-top: 5px;
    border-radius:5px;
    padding: 0px 15px 0px 15px;
    min-height: 50px;
    min-width: 300px !important;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    background-color: #40444b;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    transition: all .25s;
    font-family: 'Source Sans Pro', sans-serif;
    color:#b9bbbe;
}

.form:focus{
    box-shadow: 0px 0px 5px #e6ffff    ;
}

.usr {
    margin-top: 0 !important;
    text-align: left
}

.pwd{
    text-align: left;
}

.error{
    position: absolute;
    right: 0;
    color: tomato;
}

.input{
    margin: 10px 0px 15px 0px;
    position: relative;
}

.input span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn{
    cursor: pointer;
    font-weight: bold;
    color: #6279CA;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 20px 0px 15px 0px;
    background: #e6ffff;
}

.link {
    cursor: pointer;
    color: #e6ffff;
}

.about{
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 13px;
    font-weight: 400;
    background-color: #36393f;
    z-index: 2;
    transition: margin-left .5s ease-in-out;
}


.fade{
    animation: fadeOut .25s ease-out forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0%, calc(0% + 25px));
    }
    100%{
        opacity: 1;
        visibility: visible;
        
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0%, calc(0% - 25px));
    }
}